:root {
    --primary-color: #303655;
    --background-color: #a9cccf;
    --text-box-color:#dfe9eb;
    --box-shadow:(#c9d1d5);
}

body {
  font-family: sans-serif;
  background: var(--box-shadow);
}

h1 {
  color: var(--primary-color);
}
@media (min-width: 900px){

}
h1,
h2,
h3 {
  color: var(--primary-color);
  background-color: var(--head-line);
}

#email:hover {
  color: #61828a;
}
a:visited {
  text-align: center;
  color: #395e84;
  text-decoration: none;
}

.button-base {
  background-color: var(--text-box-color);
  border-radius: 10px;
  
  text-decoration: none;
  text-transform: capitalize;
  box-shadow: rgb(224, 224, 224) 5px 5px 5px;
}
.button-outline {
  background-color: transparent;
  outline: solid 1px var(--text-box-color);
}

.button-base:hover {
  color: rgb(69, 128, 237);
  text-decoration: none;
}